/*.love-ya-like-a-sister-regular {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}*/
/*.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}*/
/*.figtree-<uniquifier > {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/
/*.unkempt-regular {
    font-family: "Unkempt", cursive;
    font-weight: 400;
    font-style: normal;
}

.unkempt-bold {
    font-family: "Unkempt", cursive;
    font-weight: 700;
    font-style: normal;
}*/


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn{
    background-color: #d990b6;
    border-radius: 17px;
    box-shadow: 1px 1px 2px #d70170;
}
    .btn:hover {
        background-color: #e398bf;
        border-radius: 17px;
        box-shadow: 1px 1px 2px #d70170;
    }
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    background-color: #d990b6;
    border-radius: 17px;
    box-shadow: 0 0 0 0.1rem #d70170, 0 0 0 0.25rem #d990b6;
}

html {
  position: relative;
  min-height: 100%;
}

.navbar {
    background-color: #6d84d0; 
    //powder blue
}
.navbar-brand img {
    height: 60px;
    width: auto;
    padding-right: 10px;
    // background of logo is powder purple
}
.nav-item {
    padding-left: 5px;
    padding-right:5px

}
.nav-item:hover {
    background-color: #d990b6;
    border-radius: 17px; 
    box-shadow: 1px 1px 2px #d70170;
    // powder pink background
        //bi pink shadow
}


body {
    margin-bottom: 60px;
    background-color: #c3c9e9;
    //pale blue bg color
}
h1 {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

a {
    text-decoration: none;
}

.dateRecorded {
    font-size:smaller;
}

.footerLink {
    text-decoration: none;
    color: white;
    white-space:nowrap;
}

.thumbnail {
    max-width: 220px;
    max-height: 180px;
    width: auto;
    height:auto;
    display: block;
    object-fit: contain;
}