@{
    ViewData["Title"] = "Logout";
}
<h1>Stage Bear</h1>


<img src="/assets/UghOhShakes!.png" class="thumbnail" />
<span></span>
<p>Are you sure you want to log out?</p>
<form asp-action="LogoutConfirmed">
    <p>
        <input type="submit" value="Logout" class="btn btn-danger" />
    </p>
    <p>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </p>
</form>