@model List<StageBear.Models.Show>

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to StageBear</h1>
    <p>For all your event planning needs.</p>
</div>



<h1>What's on stage!</h1>


