@model StageBear.Models.Show

@{
    ViewData["Title"] = "Edit Show";
}

<h1>Edit Show</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShowID" />

            <div class="mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Scheduled" class="control-label"></label>
                <input asp-for="Scheduled" class="form-control" />
                <span asp-validation-for="Scheduled" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="VenueID" class="control-label"></label>
                <select asp-for="VenueID" class="form-control" asp-items="ViewBag.VenueID"></select>
                <span asp-validation-for="VenueID" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="OwnerID" class="control-label"></label>
                <select asp-for="OwnerID" class="form-control" asp-items="ViewBag.OwnerID"></select>
                <span asp-validation-for="OwnerID" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FormFile" class="form-label"></label>
                <input asp-for="FormFile" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            @* <div>
                <img src="@Model.Image" class="thumbnail" style="padding:10px; border: dashed 1px" />
            </div> *@
            <div class="mb-3">
                <img id="previewThumb" src="@(string.IsNullOrEmpty(Model.Image) ? "#" : Model.Image)" class="thumbnail" alt="preview thumbnail" style="@(string.IsNullOrEmpty(Model.Image) ? "display:none;" : "display:block;") padding:10px; border: dashed 1px"
            </div>


            <div class="mb-3">
                <input type="submit" value="Save" class="btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById('previewThumb');

        if(input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
